/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  /* EDIT: new syntax for FF 15+ */
  -o-font-feature-settings: "liga";
  -webkit-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}


/**
 * Basic styling
 */

body{

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4fefcf+0,1ac2d8+57,7ed381+100 */
background: #4fefcf; /* Old browsers */
background: -moz-linear-gradient(top,  #4fefcf 0%, #1ac2d8 57%, #7ed381 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #4fefcf 0%,#1ac2d8 57%,#7ed381 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #4fefcf 0%,#1ac2d8 57%,#7ed381 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4fefcf', endColorstr='#7ed381',GradientType=0 ); /* IE6-9 */



  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a2f2df+0,4e9bed+57,c3ed76+100 */
background: #a2f2df; /* Old browsers */
background: -moz-linear-gradient(top,  #a2f2df 0%, #4e9bed 57%, #c3ed76 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #a2f2df 0%,#4e9bed 57%,#c3ed76 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #a2f2df 0%,#4e9bed 57%,#c3ed76 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a2f2df', endColorstr='#c3ed76',GradientType=0 ); /* IE6-9 */





  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#75787a+0,979ba8+35,8d93a0+63,8d93a0+63,825c82+100 */
background: rgb(117,120,122); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(117,120,122,1) 0%, rgba(151,155,168,1) 35%, rgba(141,147,160,1) 63%, rgba(141,147,160,1) 63%, rgba(130,92,130,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(117,120,122,1) 0%,rgba(151,155,168,1) 35%,rgba(141,147,160,1) 63%,rgba(141,147,160,1) 63%,rgba(130,92,130,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(117,120,122,1) 0%,rgba(151,155,168,1) 35%,rgba(141,147,160,1) 63%,rgba(141,147,160,1) 63%,rgba(130,92,130,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75787a', endColorstr='#825c82',GradientType=0 ); /* IE6-9 */




  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f4eff9+0,cccee2+35,c8bad1+50,c8bad1+55,d1e24f+100 */
background: rgb(244,239,249); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(244,239,249,1) 0%, rgba(204,206,226,1) 35%, rgba(200,186,209,1) 50%, rgba(200,186,209,1) 55%, rgba(209,226,79,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(244,239,249,1) 0%,rgba(204,206,226,1) 35%,rgba(200,186,209,1) 50%,rgba(200,186,209,1) 55%,rgba(209,226,79,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(244,239,249,1) 0%,rgba(204,206,226,1) 35%,rgba(200,186,209,1) 50%,rgba(200,186,209,1) 55%,rgba(209,226,79,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4eff9', endColorstr='#d1e24f',GradientType=0 ); /* IE6-9 */

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f4d5c6+0,696baf+38,3733c4+64 */
background: rgb(244,213,198); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(244,213,198,1) 0%, rgba(105,107,175,1) 38%, rgba(55,51,196,1) 64%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(244,213,198,1) 0%,rgba(105,107,175,1) 38%,rgba(55,51,196,1) 64%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(244,213,198,1) 0%,rgba(105,107,175,1) 38%,rgba(55,51,196,1) 64%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4d5c6', endColorstr='#3733c4',GradientType=0 ); /* IE6-9 */




    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c0bec6+0,d86cc4+24,d850d4+50,d87250+79,eaa00b+100 */
background: rgb(192,190,198); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(192,190,198,1) 0%, rgba(216,108,196,1) 24%, rgba(216,80,212,1) 50%, rgba(216,114,80,1) 79%, rgba(234,160,11,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(192,190,198,1) 0%,rgba(216,108,196,1) 24%,rgba(216,80,212,1) 50%,rgba(216,114,80,1) 79%,rgba(234,160,11,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(192,190,198,1) 0%,rgba(216,108,196,1) 24%,rgba(216,80,212,1) 50%,rgba(216,114,80,1) 79%,rgba(234,160,11,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0bec6', endColorstr='#eaa00b',GradientType=0 ); /* IE6-9 */

}

body, input, textarea {
    font-family: $base-header-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 400;
    color: $text-color;
    -webkit-text-size-adjust: 100%;
}

input, textarea {
  color: black;
}

body, html {height: 100%;}

.main-content {
  margin-top: 4em;
}
/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure {
  color: white;
}



/**
 * Images
 */
img {
  max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: .8em;
}



/**
 * Lists
 */
ul, ol {
    margin-left: 0;

}

li {

    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
      font-family: $base-header-font-family;

    font-weight: $base-header-font-weight;
  margin:0.4em 0;
}



/**
 * Links
 */
a {
    color: $link-color;
    font-weight:$link-font-weight;
    text-decoration: none;

    &.whitelink {
      color:white;
    }

    &:visited {
    }


    &:hover{
      color:$link-hover-color;
    }
}



/** Overflow-hidden
*/
.overflow-hidden {
  overflow: hidden;
  position:fixed;
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid lightgray;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}


.img-replace {
  /* replace text with an image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  color: transparent;
  white-space: nowrap;
}



/**
 * Clearfix
 */
.clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}


/* important for angular cloaking (hiding {} while page initializes) */
/* please do not remove */
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak,
.ng-hide {
  display: none !important;
}


li{
  list-style-type: none;
}

