node_modules
dist
stream-dist
client/vendor
.idea
.tmp
.sass-cache/
docs/
/stream/vendor/soundcloud/vendor/

xyzDbDump/
/client/scripts/services/lb-services.js
/client/css/

/xyz-player-component/css/
