node_modules
dist
stream-dist
backups
client/vendor
.idea
.tmp
.sass-cache/
docs/
/stream/vendor/soundcloud/vendor/

xyzDbDump/
/client/css/

/xyz-player-component/css/
/client/scripts/templates.js
/test/e2e-tests/screenshots/
/admin-dist/
/admin/scripts/templates.js
.env