
<h1>~ X Y Z ~</h1>

<span ng-repeat="space in allSpaces">
  <a ui-sref="space({id:space.id})">
    {{space.name}} (owned by {{space.owner.name}})
  </a>, </span>


<div ng-if="!User.loggedIn()">

  <h4>join to create your own xyz space</h4>
  <form ng-submit="clearError(registerData).then(User.register).then(User.login).catch(showError)">

    <input ng-model="registerData.email" placeholder="email" type="email" required><br/>
    <input ng-model="registerData.name" placeholder="name"><br/>
    <input ng-model="registerData.password" placeholder="password" type="password" required><br/>

    <input type="submit" value="submit"/>
  </form>

  <h2>or login:</h2>
  <form ng-submit="clearError(loginData).then(User.login).then(User.fetchSpaces).catch(showError)">

    <input ng-model="loginData.email" placeholder="email" type="email" required><br/>
    <input ng-model="loginData.password" placeholder="password" type="password" required><br/>

    <input type="submit" value="submit" />
  </form>

</div>
<br/>
<hr/>
<br/>
<div ng-if="User.loggedIn()">

  <br/>

  <ul ng-if="User.spaces">
    <h2 ng-if="User.hasSpaces()">{{User.get().name}}'s spaces:</h2>
    <li ng-repeat="space in User.spaces">
      <a ui-sref="space({id:space.id})">
        {{space.name }} {{space.public? '' : '(private)'}}
      </a>
    </li>
  </ul>
  <span ng-if="!User.hasSpaces()">
    create your first space here:<br/>
  </span>

  <input ng-model="newSpace.name" placeholder="new space name"></input>
  <br/>
  <button ng-click="User.addSpace(newSpace).catch(showError)">add new space </button>


<br/><hr/><br/>
  You are logged in as {{User.get().name}}.
  <br/>
  <span ng-if="User.get().website"><!-- todo: fix website links (add http if not there) -->
    Your website is {{User.get().website}}
  </span>
  <form ng-submit="User.update(new).catch(showError)">

    <input ng-model="new.name" placeholder="update name">
    <input ng-model="new.website" placeholder="update website">
    <br/>
    <input type="submit" value="update data">

  </form>
  <button ng-click="User.logout().catch(showError)">Log out</button>
</div>

<span ng-if="error">{{error}}</span>
