<h1>xyz</h1>
<h2>
  <a ui-sref='mine'>my xyz</a>
</h2>

<h2 ui-sref='lobby'>"lobby" (tba)</h2>


<span ng-repeat="space in allSpaces">
  <a ui-sref="space({id:space.id})">
    {{space.name}}
  </a>, </span>


<div ng-if="!User.loggedIn()">

  <h2>register:</h2>
  <form ng-submit="User.register(registerData).then(User.login).catch(showError)">

    <input ng-model="registerData.email" placeholder="email" type="email" required>
    <input ng-model="registerData.name" placeholder="name">
    <input ng-model="registerData.password" placeholder="password" type="password" required>

    <input type="submit" value="submit"/>
  </form>

  <h2>or login:</h2>
  <form ng-submit="User.login(loginData).then(User.fetchSpaces).catch(showError)">

    <input ng-model="loginData.email" placeholder="email" type="email" required>
    <input ng-model="loginData.password" placeholder="password" type="password" required>

    <input type="submit" value="submit"/>
  </form>
NOT LOGGED IN

</div>

<div ng-if="User.loggedIn()">

LOGGED IN

  Welcome to XYZ: {{User.get() | json}}
  <form ng-submit="User.update(new).catch(showError)">

    <input ng-model="new.name" placeholder="update name">
    <input type="submit" value="update data">

  </form>

  <br/><br/>

  <ul ng-if="User.spaces">
    you own some spaces
    <li ng-repeat="space in User.spaces">
      {{space.name }}
    </li>
  </ul>
  <span ng-if="!User.spaces">
    you do not own any spaces
  </span>

  <input ng-model="newSpace.name" placeholder="new space name">
  <button ng-click="User.addSpace(newSpace).catch(showError)">add new space </button>


  <button ng-click="User.logout().catch(showError)">Log out</button>
</div>

<span ng-if="error">{{error}}</span>
