.landing-section {

  .space-thumbnail {
    height: 120px;
    vertical-align: top;

    display: inline-block;
    img {

      width: 100px;
    }
  }
  display:block;
  margin-bottom:3em;
}

.login-info {
  position: absolute;
  bottom: 0;
  width: 100%;
}