.main-container {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7fbfc+0,d9edf2+40,60a09f+100 */

  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  @include MQ(M) {

    position: fixed;
  }
}


.space-title{
  position:absolute;
  top:0;
  left: 10em;
}

