
button{
  margin:1em;
  min-height:2em;
  min-width:2em;
}

input{
  margin:1em;
  min-height:2em;

}

.close-button{
  height:2em;
  width:2em;
  max-width:100px;
  cursor:pointer;

        @include MQ(M) {

        }
}

.open-button{
  right:0;
  height:2em;
  width:2em;
  max-width:100px;
  cursor:pointer;
}


.link-button{
  cursor:pointer;
}

.checkbox, .checkbox *{
  display:inline;
  max-width:2em;
}