
.xyz-item {
  position: absolute;
  cursor: pointer;
  display: block;
  z-index: 3;

  &.focused-dot {
    z-index: 4;
  }

  .dot {

    background-size: 70px;
    background-repeat: no-repeat;
    height: 4em;
    width: 4em;
    overflow: hidden;

    &.default {
      border: 2px dotted black;
      background-color: rgba(200, 200, 200, 0.6);
    }

    &.first-song {
      stroke:blue;
    }

    img{
      height:100%;
    }
  }

  .beside-song {
    position: absolute;
    background-color: white;
    top: 0;
    left: 80px;
    height:250px;
    border: 1px black solid;

    a {
      max-height: 4rem;
      overflow: hidden;
      display: block;
    }

  }



  .preview-box{
    width:300px;
    height:100%;

  }

}
