
<div>
  <h4>search for songs on youtube and soundcloud at the same time</h4>
  <h4>or enter the URL for a track or video</h4>
  <input
      ng-model="newText"
      ng-change="examineText(newText)
        .then(updateImportView)
        .catch(invalidLink)"
      ng-model-options="{debounce: 500, updateOn:'default'}"
      placeholder="type in here to search now"
      >
    <span ng-if="fetchingSongData"> <i>fetching data...</i> </span>
    <!--<span ng-if="Library.getLocalItems()"> {{ newItem.provider }} media detected:
      {{ newItem.artist+' - '+newItem.title }}<hr/>
      <button ng-click="Library.add(newItem)">add to library</button>
    </span>

    <ul ng-if="newItems">
      <li ng-repeat="newItem in newItems">
       <a ng-href="{{newItem.url}}"> ({{newItem.provider}}) {{newItem.artist}} - {{newItem.title}} ({{newItem.provider_id}})
         </a>
      </li>
    </ul>-->
    <span ng-if="newText && error"> Sorry, {{error}} Please try adjusting the URL
    </span>
</div>
