<button ng-if="!FB.loggedIn()" ng-click="FB.login().then(FB.loadMe())">login to FB</button>

<div ng-if="FB.loggedIn()">
  <h4>load neat songs from your facebook feed. click the button again to load more</h4><br/>
  <button ng-click="explore(Social.FB.loadPosts())">more FB posts</button>
</div>
<!--
<button ng-click="explore(MediaAPI.SC.likes())">soundcloud likes</button>
<button ng-click="explore(MediaAPI.SC.playlists())">soundcloud playlists</button>

<button ng-click="downloadMorePosts()">load more music from facebook posts</button>
-->
