<div class="preview-box" ng-include="'views/main/media-player.html'"
    ng-controller="PreviewCtrl"
    ng-if="Player.playingItem()">

</div>

<h3>add media to {{space.name}}:</h3>
<ul class="tabs">
  <li ui-sref="space.search" ui-sref-active="active">search
  </li>
  <li ui-sref="space.url" ui-sref-active="active">load url
  </li>
  <li ui-sref="space.explore" ui-sref-active="active">explore
  </li>
</ul>


<div ui-view="importControls">

</div>
<br/>
<br/>

<div ui-view="importSelector" class="selector-container">

</div>


