<!--
<h3>selector</h3>
<button ng-click="Library.focusPrev()">right</button>
<button ng-click="Library.focusNext()" ng-if="!latestFocused()">left</button>
-->


  <button ng-if="urlResult.kind === 'user'"
          ng-click="MediaAPI.SC.tracksByUser(urlResult.provider_id)
        .then(updateImportView)
        .catch(invalidLink)">
    view all posts by user
  </button>

<div>

  <div ng-if="Library.getLocalItems().urlResult">
    {{ Library.getLocalItems().provider }} media detected:
    {{ Library.getLocalItems().artist+' - '+Library.getLocalItems().title }}
    <hr/>
    <button ng-click="Library.add(Library.getLocalItems())">add to library</button>
    <button ng-if="!item.error && Library.isPlayable(Library.getLocalItems())"
            ng-click="Player.play(Library.getLocalItems())">play
    </button>

  </div>

  <div class="song-row" ng-repeat="item in Library.getLocalItems()"
       ng-if="!Library.getLocalItems().urlResult">


    <button ng-if="!item.error" ng-click="putInSpace(item, $event)">add</button>
    <button ng-if="!item.error && Library.isPlayable(item)" ng-click="Player.play(item)">play</button>
    <a ng-href="{{item.url}}">
      <span ng-if="!item.error">
        ({{item.provider}}) {{item.artist}} - {{item.title}} ({{item.provider_id}})
      </span>
      <span ng-if="item.error">
        {{item.error}}
      </span>
    </a>
  </div>
</div>

<pre class="debug" ng-if="false">
  {{Library.getLocalItems() | json}}
</pre>

