<h3>Songs</h3>

<div class="song-table">



  <div class="song-row">
      <span class="song-attribute" ng-repeat="field in Songs.fields">
        <input placeholder="{{field}}" ng-model="newSong[field]">
      </span>
      <button class="song-row" ng-click="Songs.add(newSong)">add</button>

  </div>

  <div class="header song-row">
      <span class="song-attribute" ng-repeat="field in Songs.fields">
        {{field}}
      </span>
  </div>

  <div ng-repeat="song in Songs.getSongs()"
       class="song-row"
       ng-class="{'editing':song.editing}">

    <span
      class="song-attribute"
      ng-repeat="field in Songs.fields">

        <span ng-hide="song.editing">
          {{song.attrs[field]}}
        </span>
        <input ng-show="song.editing"
             ng-model="song.attrs[field]"
             ng-blur="Songs.update(song.id, song.attrs)"
        />

    </span>

    <button ng-hide="song.editing" ng-click="song.editing = !song.editing">edit</button>
    <button ng-show="song.editing" ng-click="Songs.remove(song.id)">delete</button>

  </div>


</div>

<hr>
<pre>
    {{Songs.getSongs() | json}}
  </pre>