<div ng-if="playlist[0].provider === 'youtube'">
  <youtube width="{{stream.width}}"
           height="{{stream.height}}"
           videoid="{{stream.videoid}}"
           startSeconds="30">

  </youtube>

  <br/>
  Videoid:<input type="text" ng-model="stream.videoid">

  <br/>

  <p>Player status is: {{yt.playerStatus}}</p>
</div>

<div ng-if="playlist[0].provider === 'soundcloud'">

  <iframe
    width="100%"
    height="450"
    scrolling="no"
    frameborder="no"
    ng-src="{{soundcloudUrl}}">

</iframe>

  id: [{{playlist[0].provider_id}}]
</div>


<div ng-if="playlist[0].provider === 'bandcamp'">

  bandcamp!
</div>

<hr/>
current song:
<pre>
{{playlist[0] | json}}
</pre>
<hr/>
next song:
<pre>
{{playlist[0] | json}}
</pre>
<br/>


id<br/>
<input ng-model="playlist[0].provider_id" />
url<br/>
<input ng-model="playlist[0].url" />
<br/>
provider<br/>
<input ng-model="playlist[0].provider" />
