<div class="media-inspector" layout="row">


  <div layout="column" class="media-inspector-actions" layout-align="space-around center">

    <div>
      <md-icon class="icon-btn" ng-if="showAddButton(item)"
               ng-click="putInSpace(item, $event)">
        add
        <md-tooltip md-delay="500">Add to space</md-tooltip>
      </md-icon>
    </div>
    <button class="icon-btn" ng-if="isSoundcloudArtist(item)" ng-click="MediaAPI.soundcloud.tracksByUser(item.provider_id)
        .then(updateParentImportView)">
      tracks
    </button>
    <button class="add" ng-if="isSoundcloudArtist(item)" ng-click="MediaAPI.soundcloud.likesByUser(item.provider_id)
        .then(updateParentImportView)">
      likes
    </button>
    <div ng-if="Library.isPlayable(item)">
      <md-icon class="icon-btn"
               ng-click="Player.stop()" ng-show="Player.isPlaying(item.provider_id)">
        eject
        <md-tooltip md-delay="500">Close Preview</md-tooltip>
      </md-icon>

      <md-icon class="icon-btn"
               ng-click="Player.play(item)" ng-hide="Player.isPlaying(item.provider_id)">
        headset

        <md-tooltip md-delay="500">Click to Preview</md-tooltip>
      </md-icon>

    </div>
    <div ng-if="!Library.isPlayable(item)">
      <md-icon> {{item.kind === 'user'? 'person' : 'help'}}</md-icon>
    </div>
  </div>


  <div layout="column"
       class="media-inspector-details"
       flex="grow"
       ng-hide="Player.playingItem().provider_id === item.provider_id">

    <div class="artist-soundcloud" ng-if="item.provider === 'soundcloud'">
      <md-icon class="md-18">person</md-icon>
      {{item.artist}}
    </div>
    <div class="title">
      {{item.title}}
    </div>

    <div class="artist-youtube" ng-if="item.provider === 'youtube'">
      <md-icon class="md-18">person</md-icon>
      {{item.artist}}
    </div>

    <a class="provider-and-time"
       ng-href="{{item.url}}"
      target="_blank"
      ng-if="!item.error" >
      <span icon-of-provider="{{item.provider}}"></span>

      <span class="item-length" ng-if="item.length ">
        ({{item.length | secondsToDateTime | date:'H:mm:ss'}})
      </span>
      <md-tooltip md-delay="500">Visit on {{item.provider}}</md-tooltip>
    </a>

    <div class="error" ng-if="item.error">
      {{item.error}}
    </div>
  </div>

  <div ng-if="Player.isPlaying(item.provider_id)"
       media-preview flex="grow" class="media-inspector-details"></div>
  <div ng-hide="Player.playingItem().provider_id === item.provider_id">
    <img class='thumbnail' ng-src="{{item.pic}}" src="" width="200"/>
  </div>
  <debug name="'item'" obj="item" max-height="150"></debug>

</div>
