<a ng-href="{{expandedItem().url}}"
   target="_blank"
   ng-bind="expandedItem().title"
   class="dot-title">
</a>

<div media-preview-toggle="expandedItem()" class="item-button-1"></div>

<md-icon class="icon-btn item-button-2"
         ng-if="canEdit()"
         ng-click="setFirstSong(expandedItem())">
  looks_one

  <md-tooltip md-delay="500">
    set as first
  </md-tooltip>
</md-icon>
<md-icon class="icon-btn item-button-3"
         ng-if="canEdit()"
         ng-click="removeSong(expandedItem().id)">
  delete_forever

  <md-tooltip md-delay="500">
    remove this item
  </md-tooltip>
</md-icon>


<div media-preview
     ng-if="Player.playingItem()">

</div>

