<div ng-if="Library.isPlayable(Player.playingItem())" class="media-preview">

  <div ng-if="Player.playingAttrs().provider === 'youtube'">

    <iframe
        width="100%"
        height="100%"
        ng-src="{{iFrameUrl(Player.playingAttrs(), Player.status)}}"
        frameborder="0"
        allowfullscreen>

    </iframe>

    <youtube width="{{stream.width}}"
             height="{{stream.height}}"
             videoid="{{Player.playingAttrs().provider_id}}"
             ng-if="false">

    </youtube>

  </div>


  <!-- APPEND TO END OF URL IN REGULAR YOUTUBE EMBED IFRAME #t=2m30s
  https://support.google.com/youtube/answer/171780
  -->


  <div ng-if="Player.playingAttrs().provider === 'soundcloud'">

    <iframe
        width="100%"
        height="100%"
        scrolling="no"
        frameborder="no"
        ng-src="{{iFrameUrl(Player.playingAttrs(), Player.status)}}"
    >

    </iframe>

  </div>


  <div ng-if="Player.playingAttrs().provider === 'bandcamp'">
    <iframe bandcamp-autoplay

            style="border: 0; width: 100%; height:100%;"

            ng-src="{{iFrameUrl(Player.playingAttrs(), Player.status)}}"
            seamless>

      <a href="http://1080pcollection.bandcamp.com/album/12-hours-full-relaxation">
        &quot;12 Hours FULL RELAXATION&quot; by I Am Just A Pupil
      </a>

    </iframe>
  </div>

</div>

<div ng-if="!Library.isPlayable(Player.playingItem())">
  <h2>{{Player.playingAttrs().artist }}
    {{Player.playingAttrs().title? ' - '+Player.playingAttrs().title : ''}}
    {{Player.playingAttrs().kind? ' ('+Player.playingAttrs().kind+')' : ''}}
  </h2>

  <br/>
  <a ng-href="{{Player.playingAttrs().url}}" target="_blank"> --> visit page
  </a><br/><br/>

  <a ng-click="Library.remove(Player.playingItem().id)">
    remove from space
  </a>



  <pre class="debug" ng-if="false">
    {{Player.playingItem() | json}}
  </pre>
</div>


<br/>