<div class="space-thumbnail" layout="column" layout-align="space-between center">

  <a ui-sref="base.space({id:space.id})">
    {{space.name }}
  </a>

  <span ng-if="space.owner"> (made by {{space.owner.name}})</span>
  <div ng-if="!space">
    loading...
  </div>
  <div>
    <img ng-if="space && space.pic" ng-src="{{space.pic}}">
    <div ng-if="!space.pic" class="no-img"> </div>


    <div class="thumbnail-icons" layout="row" layout-align="space-between center" >
      <div layout="row">
        <md-icon class="icon" ng-if="userIsCollaborator(space)">
          group
          <md-tooltip md-delay="500">
            You Can Contribute to this Space
          </md-tooltip>
        </md-icon>
        <md-icon class="icon" ng-if="!space.public ">
          lock
          <md-tooltip md-delay="500">
            This is a Private Space
          </md-tooltip>
        </md-icon>
      </div>
      <div>
        <md-icon class="icon-btn" ng-click="playSpace(space)">
          play_arrow
          <md-tooltip md-delay="500">
            Play this Space
          </md-tooltip>
        </md-icon>
      </div>

    </div>
  </div>

  <pre class="debug" ng-if="false">
    {{space  | json}}

  </pre>
</div>