
<pre ng-if="false" class="debug">user: {{user | json}}</pre>
<pre ng-if="false" class="debug">at: {{tempAccessToken}}</pre>

<div>

<form ng-submit="changePassword(newPassword, newPassword2)" layout="column" layout-align="center center">

  <label for="password1">New Password</label>
  <input id="password1" type="password" ng-model="newPassword" required>

  <label for="password2">Verify new password</label>
  <input id="password2" type="password" ng-model="newPassword2" required>

  <input type="submit" value="Submit"> </input>

</form>

</div>