<div class="top-bar">

  <h1 id="bar-logo" ui-sref="base.landing" class="logo">XYZ</h1>


  <h1 id="bar-title" ng-if="title()"> {{title()}}
    <a ng-if="Spaces.current()">
      <md-icon class="icon-btn light" ng-click="playSpace(Spaces.current())">
        play_arrow
        <md-tooltip md-delay="750">
          Play this Space
        </md-tooltip>
      </md-icon>

    </a>
  </h1>

  <div class="bar-icons" layout-align="end center">


    <md-icon
        ng-if="showSpaceEditorIcons()"
        ng-class="{'active-icon': ('base.space.add' | isState) }"
        ng-click="parentStateIfActiveElseGoTo('base.space.add')"
        class="icon-btn">
      add

        <md-tooltip md-delay="750">
          Add to this Space
        </md-tooltip>
    </md-icon>

    <md-icon
        ng-if="showSpaceEditorIcons()"
        ng-class="{'active-icon': ('base.space.edit' | isState) }"
        ng-click="parentStateIfActiveElseGoTo('base.space.edit')"
        class="icon-btn">
      edit

        <md-tooltip md-delay="750">
          Edit Space Attributes
        </md-tooltip>
    </md-icon>

    <md-icon
        ng-if="showInfoButton()"
        ng-class="{'active-icon': ('base.space.info' | isState) }"
        ng-click="parentStateIfActiveElseGoTo('base.space.info')"
        class="icon-btn">
      info

        <md-tooltip md-delay="750">
          About this Space
        </md-tooltip>
    </md-icon>

    <md-icon
        ng-if="User.get()"
        id="settings-button"
        class="icon-btn light"
        ng-class="{'active-icon':settingsOpen()}"
        ng-click="toggleSettings()">
      settings

        <md-tooltip md-delay="750">
          Edit User Settings
        </md-tooltip>
    </md-icon>

    <span id="signup-login-link"
          ng-if="!User.get()"
          ui-sref-active="hidden">
      <md-icon class="icon-btn light"
               ui-sref="base.signup-login">
        account_circle

        <md-tooltip md-delay="750">
          Sign up or Log in
        </md-tooltip>
      </md-icon>
    </span>

  </div>





  <div class="user-settings-popup"
       ng-if="settingsOpen() && User.get()"
       ng-include="'partials/user-settings-popup.html'">
  </div>
</div>

<md-progress-linear loading
                    class="loading-indicator"
                    md-mode="indeterminate">
</md-progress-linear>



