<div class="base-container">

  <div ui-view="bar"></div>
  <toast></toast>
  <div ui-view="main" class="main-container"></div>

  <div ui-view="sidebar" class="sidebar-container">
  </div>
  <div ui-view="xyzPlayer"></div>

  <div class="xyz-player-container"
       ng-controller="SiteWidePlayerCtrl">
    <div xyz-player
         space-id="{{getPlayingSpace().id}}"
         data-space="{{getPlayingSpace()}}"
         playlist="Playlister.list"
         data-viewer="viewer"
         ng-show="getPlayingSpace()">

    </div>
  </div>

</div>


