
<div ui-view="bar"></div>
<div class="base-container">

  <md-progress-linear loading
                      class="loading-indicator"
                      md-mode="indeterminate">
  </md-progress-linear>


  <toast> </toast>
  <div ui-view="main" class="main-container"></div>

  <div ui-view="sidebar" >
  </div>

  <div class="xyz-player-container"
       ng-controller="SiteWidePlayerCtrl" ng-if="Utility.isSideWidePlayerEnabled()">
    <div xyz-player
         data-space-name="getPlayingSpace().name"
         ng-show="getPlayingSpace()">

    </div>
  </div>

</div>


