<div ui-view="bar"></div>
<div class="base-container">

  <md-progress-linear loading
                      class="loading-indicator"
                      md-mode="indeterminate">
  </md-progress-linear>


  <toast></toast>
   <div ui-view="main" class="main-container" ng-click="onMainClick($event)"></div>


  <div class="xyz-player-container room-for-sidebar"
       ng-controller="SiteWidePlayerCtrl"
       ng-if="UserSettings.get('sitewide-player-enabled')"
  >
    <div xyz-player
         data-space-name="getPlayingSpace().name"
         ng-show="getPlayingSpace()">

    </div>
  </div>

</div>


