<div>
  <div class="landing-section">

    <ul layout-wrap layout-align="space-around left" layout="row">
      <li ng-repeat="space in publicSpaces"
          ng-include="'views/partials/space-thumbnail.html'"></li>
    </ul>

  </div>
  <div ng-if="!User.loggedIn()" class="landing-section" layout="column">

    <h4>Sign up</h4>
    <form layout="column" layout-align="center center"
        ng-submit="register(registerData)">

      <input ng-model="registerData.name" placeholder="your name"><br/>
      <input ng-model="registerData.email" placeholder="email" type="email" required><br/>
      <input ng-model="registerData.password" placeholder="set a password" type="password" required><br/>

      <input type="submit" value="submit"/>
    </form>

    <h2>or login:</h2>
    <form layout="column" layout-align="center center" ng-submit="login(loginData)" ng-hide="forgotPassword">

      <input ng-model="loginData.email" placeholder="email" type="email" required><br/>
      <input
          ng-model="loginData.password"
          placeholder="password"
          type="password"
          required>
      <br/>

      <input type="submit" value="submit"/>
      <a ng-click="forgotPassword = true">forgot password?</a>

    </form>

    <form layout="column" layout-align="center center" ng-submit="resetPassword(loginData.email)" ng-show="forgotPassword">
      <p>Forgot your password? Please enter your email address below, then we'll send you link to reset your
        password</p>
      <input ng-model="loginData.email"
             placeholder="email"
             type="email"
             required>
      <input type="submit" value="Send Password Reset Link"/>
      <a ng-click="forgotPassword = false">(cancel)</a>

    </form>

  </div>

  <div ng-if="User.loggedIn()" class="landing-section">

    <br/>

    <div ng-if="!User.hasOwnSpaces()">
      create your first space here:<br/>
    </div>

    <div ng-if="isAdding()">
      <input ng-model="newSpace.name" placeholder="new space name">
      <md-icon class="icon" ng-click="User.addSpace(newSpace).then(resetAdding).catch(showError)">add_circle</md-icon>
    </div>

    <div ng-if="!isAdding()">
      <a ng-click="setAdding()"> + new space</a>
    </div>
    <div ng-show="isAdding()">
      <a ng-click="resetAdding()"> (nevermind)</a>
    </div>

    <h2 ng-if="User.hasOwnSpaces() || User.hasEditableSpaces()">my spaces:</h2>
    <ul class="user-spaces-container" layout-wrap layout-align="space-around left" layout="row">
      <li ng-repeat="space in User.getSpaces().editable"
          ng-include="'views/partials/space-thumbnail.html'">
      </li>
      <li ng-repeat="space in User.getSpaces().own"
          ng-include="'views/partials/space-thumbnail.html'">
      </li>
    </ul>


    <br/>

  </div>


  <span ng-if="error">{{error}}</span>
  <span ng-if="message">{{message}}</span>
</div>