<div>
  <div class="landing-section">

    <ul layout-wrap layout-align="space-around left" layout="row">
      <li ng-repeat="space in publicSpaces"
          ng-include="'partials/space-thumbnail.html'"></li>
    </ul>

  </div>

</div>


<div ng-if="User.loggedIn()" class="landing-section">

  <a id="create-new-space" ng-click="createNewSpace()"> + new space</a>

  <h2 ng-if="User.hasOwnSpaces() || User.hasEditableSpaces()">my spaces:</h2>

  <ul class="user-spaces-container"
      layout-wrap layout-align="space-around left" layout="row">
    <li ng-repeat="space in User.getSpaces().editable"
        ng-include="'partials/space-thumbnail.html'">
    </li>
    <li ng-repeat="space in User.getSpaces().own"
        ng-include="'partials/space-thumbnail.html'">
    </li>
  </ul>


  <br/>

</div>
