


<div ng-if="User.loggedIn()" class="landing-section">
  <h2>My Spaces</h2>

  <a id="create-new-space" ng-click="createNewSpace()"> + create new space</a>

  <h2 ng-if="User.hasOwnSpaces() || User.hasEditableSpaces()">my spaces:</h2>

  <ul class="user-spaces-container"
      layout-wrap layout-align="space-around left" layout="row">
    <li ng-repeat="space in Spaces.getEditable()"
        ng-include="'partials/space-thumbnail.html'">
    </li>
    <li ng-repeat="space in Spaces.getOwn()"
        ng-include="'partials/space-thumbnail.html'">
    </li>
  </ul>


  <br/>

</div>

<div>
  <div class="landing-section">
  <h2>Public Spaces</h2>

    <ul layout-wrap layout-align="space-around left" layout="row">
      <li ng-repeat="space in Spaces.getPublic()"
          ng-include="'partials/space-thumbnail.html'"></li>
    </ul>

  </div>

</div>

<pre class="debug" ng-if="false">
  map:
{{Spaces.map | json}}
</pre>

<pre class="debug" ng-if="false">
  public:
{{Spaces.getPublic() | json}}
</pre>

<pre class="debug" ng-if="false">
  own:
{{Spaces.getOwn() | json}}
</pre>

<pre class="debug" ng-if="false">
  editable:
{{Spaces.getEditable() | json}}
</pre>
