<h3 > <a ui-sref="home">XYZ - Mine</a></h3>
<h3>
  Thanks for checking out XYZ.
</h3>
<br/><i>(at this point, user has just signed up for a new account, and is beginning to learn what XYZ can do for them)</i>
<h3>
  Our goal is to make the curation, discovery, and enjoyment of networked music streams better.
</h3>

<br/>


<h4>test links</h4>
<a ui-sref="list"> my xyz list </a> |
<a ui-sref="import.search"> import </a> |
<a ui-sref="stream"> stream </a> |
<a ui-sref="embeds"> embed test </a> |
<a ui-sref="social"> social test </a>