<div style="text-align: center;">
  <section ng-if="!User.loggedIn()" layout="column">

    <h4>Sign up</h4>
    <form id='signup-form' layout="column" layout-align="center center"
          name="SignupForm"
          ng-submit="SignupForm.$valid && register(registerData)">

      <input id="register-name-field" name="username" ng-model="registerData.name" placeholder="create username" required><br/>
      <input id="register-email-field" name="email" ng-model="registerData.email" placeholder="your email" type="email" required><br/>
      <input id="register-password-field" name="password" ng-model="registerData.password" placeholder="set a password" type="password"
             ng-minlength="6"
             required><br/>
      <md-checkbox id="register-email-opt-in" name="email-opt-in" ng-model="registerData.emailOptIn" >
        Send me email about the platform
      </md-checkbox>

      <input type="submit" value="submit"/>

      <div ng-messages="SignupForm.password.$error" ng-if="SignupForm.password.$touched" role="alert">
        <div ng-message="minlength">Password must be at least 6 characters</div>
      </div>
      <div ng-messages="SignupForm.email.$error" ng-if="SignupForm.email.$touched" role="alert">
        <div ng-message="email">Please enter a valid email</div>
      </div>
      <debug obj="SignupForm" name="SignupForm"></debug>
    </form>

    <h2>or login:</h2>
    <form id='login-form' layout="column" layout-align="center center" ng-submit="login(loginData)"
          ng-hide="forgotPassword">

      <input id="login-email-field" ng-model="loginData.email" placeholder="email" type="email" required><br/>
      <input
          id="login-password-field"
          ng-model="loginData.password"
          placeholder="password"
          type="password"
          required>
      <br/>

      <input type="submit" value="submit"/>
      <a ng-click="forgotPassword = true">forgot password?</a>

    </form>

    <form id='password-reset-form' layout="column" layout-align="center center"
          ng-submit="resetPassword(loginData.email)" ng-show="forgotPassword">
      <p>Please enter your email address here, then we'll send you a link to reset your
        password</p>
      <input ng-model="loginData.email"
             placeholder="email"
             type="email"
             required>
      <input type="submit" value="Send Password Reset Link"/>
      <a ng-click="forgotPassword = false">(cancel)</a>

    </form>

  </section>

</div>