<svg xmlns="http://www.w3.org/2000/svg"
     class="space-svg-view"
     ng-attr-viewbox="{{computeViewBox()}}"
     ng-attr-height="{{layout_constants.SPACE_DIMENSIONS.height}}"
     ng-attr-width="{{layout_constants.SPACE_DIMENSIONS.width}}"
     height
     width
     viewbox="0 0 0 0"
>
  <radialGradient id="now-playing-radial-effect"
                  fx="50%"
                  fy="50%"
                  cx="50%"
                  cy="50%"
                  r="90%"
                  spreadMethod="pad">
    <stop offset="15%" stop-color="white"></stop>
    <stop offset="50%" stop-color="white" stop-opacity="0"></stop>
  </radialGradient>

  <g playlist-path
        ng-if="currentSpaceIsPlaying()">
  </g>

  <g ng-repeat="item in Spaces.current().songs"
     media-item-dot
     item="item"
     ng-click="handleDotClick(item, $event)"
     is-now-playing="isNowPlaying(item)"
     show-first-song-style="isFirstSong(item) && !currentSpaceIsPlaying()"
     data-space="currentSpace"
     viewer="guest"
     done-dragging="onDragDone(item)"
     ng-mouseenter="setHovering(item)"
     ng-mouseleave="unsetHovering()"
  >

  </g>


</svg>


<div class="expanded-popup"
     ng-style="songExpandedPopupCss()"
     ng-if="expandedItem()"
     layout="column"
    ng-click="$event.stopPropagation()">

  <div layout="row" class="expanded-meta-actions" layout-align="start center">


    <md-icon class="icon-btn" id="play-from-here" ng-click="playSpace(Spaces.current(), expandedItem().id)">
      fast_forward
      <md-tooltip md-delay="500">
        Play from Here
      </md-tooltip>
    </md-icon>
    <md-icon class="icon-btn" id="set-as-first"
             ng-if="canEdit()"
             ng-click="setFirstSongThenRecompute(expandedItem())">
      looks_one

      <md-tooltip md-delay="500">
        Set as First
      </md-tooltip>
    </md-icon>
    <md-icon class="icon-btn " id="remove-item"
             ng-if="canEdit()"
             ng-click="removeSong(expandedItem())">
      delete_forever

      <md-tooltip md-delay="500">
        Remove this Item
      </md-tooltip>
    </md-icon>

  </div>

  <div media-inspector
       item="expandedItem()">

  </div>


</div>


<div ng-if="Spaces.current().songs.length === 0">

  <div class="xyz-item" style="left:45vw; top:10vh;">

    <div class="default dot" ng-click="openSidebar()">

    </div>


    <div class="hover" ng-click="openSidebar()">

      Click to find media

    </div>
  </div>

</div>

<div ng-if="isHovering()"
class="item-hover" ng-style="getHovering().css">
  <div >
    {{getHovering().item.title}}
  </div>
</div>


<div ui-view="sidebar">
</div>

<debug
    name="'expanded item'"
    obj="expandedItem()"
    max-height="150">

</debug>
<pre class="debug right-panel" ng-if="debug">space: {{space | json}}</pre>
<pre class="debug right-panel" ng-if="debug">space in map: {{Spaces.current() | json}}</pre>
<pre class="debug right-panel" ng-if="debug">Playlister.List: {{Playlister.getList() | json}}</pre>
<pre class="debug right-panel" ng-if="debug">space songs: {{space.songs | json}}</pre>
