<svg xmlns="http://www.w3.org/2000/svg"
     ng-click="closeExpanded('screen')"
     class="space-svg-view">


  <path class="playlist-line"
        ng-attr-d="{{linePath(Playlister.list || [])}}"
        d=""
        fill="none" stroke="lightgrey"></path>

  <g ng-repeat="item in space.songs">

    <defs>

      <pattern
          id="{{'image'+item.id}}"
          height="100%"
          width="100%">
        <image
            ng-attr-x="{{item.provider === 'youtube'? -50 : -20}}"
            ng-attr-y="{{item.provider === 'youtube'? -40 : -20}}"
            ng-attr-height="{{item.provider === 'youtube'? '150px': '100px'}}"
            ng-attr-width="{{item.provider === 'youtube'? '150px': '100px'}}"
            height=""
            width=""
            ng-href="{{item.pic}}"
            xlink:href=""></image>

      </pattern>
    </defs>
    <circle
        ng-attr-r="{{dotRadius}}"
        r=""
        class="xyz-item"
        xyz-draggable="item"
        data-space="space"
        can-drag="true"
        fill="{{Utility.absoluteRef('image'+item.id)}}"
        ng-attr-stroke="{{isFirstSong(item)? 'blue' : 'lightblue'}}" stroke-width="0.5%"
        ng-class="{unavailable: (item.public === false), 'first-song':isFirstSong(item)}"

        ng-click="handleDotClick(item, $event)">

    </circle>
  </g>


</svg>


<div class="expanded-popup"
     ng-style="songExpandedPopupCss()"
     ng-if="expandedItem()"
     layout="row">

  <div layout="column">

    <a ng-href="{{expandedItem().url}}"
       target="_blank"
       ng-bind="expandedItem().title"
       ellipsis></a>

    <div>
      <div media-preview-toggle="expandedItem()"></div>
      <button ng-click="setFirstSong(expandedItem())">set first song</button>
      <button ng-click="removeSong(expandedItem().id)">remove</button>
    </div>
  </div>


  <div class="preview-box" media-preview
       ng-if="Player.playingItem()">

  </div>

</div>


<div ng-if="Library.songs().length === 0">

  <div class="xyz-item" style="left:45vw; top:10vh;">

    <div class="default dot" ng-click="openSidebar()">

    </div>


    <div class="hover" ng-click="openSidebar()">

      Click to find media

    </div>
  </div>

</div>
<pre class="debug right-panel" ng-if="debug">{{space | json}}</pre>