<svg xmlns="http://www.w3.org/2000/svg"
     ng-click="closeExpanded('screen')"
     class="space-svg-view"
     ng-attr-viewbox="{{computeViewBox()}}"
     ng-attr-height="{{layout_constants.SPACE_DIMENSIONS.height}}"
     ng-attr-width="{{layout_constants.SPACE_DIMENSIONS.width}}"
     height
     width
     viewbox="0 0 0 0"
>


  <path class="playlist-line"
        ng-attr-d="{{linePath(Playlister.getList() || [])}}"
        d=""
        fill="none" stroke="lightgrey" ng-if="Spaces.current().songs[0]"></path>

  <g ng-repeat="item in Spaces.current().songs"
     media-item-dot
     item="item"
     ng-click="handleDotClick(item, $event)"
     is-now-playing="isNowPlaying(item)"
     is-first-song="isFirstSong(item)"
     data-space="currentSpace"
     viewer="guest"
     done-dragging="onDragDone(item)"
     layout-constants="layout_constants"
     ng-mouseenter="setHovering(item)"
     ng-mouseleave="unsetHovering()"
  >

  </g>


</svg>


<div class="expanded-popup"
     ng-style="songExpandedPopupCss()"
     ng-if="expandedItem()"
     layout="column">

  <div layout="row" class="expanded-meta-actions">


    <md-icon class="icon-btn" id="play-from-here" ng-click="playSpace(Spaces.current(), expandedItem().id)">
      fast_forward
    </md-icon>
    <md-icon class="icon-btn" id="set-as-first"
             ng-if="canEdit()"
             ng-click="setFirstSongThenRecompute(expandedItem())">
      looks_one

      <md-tooltip md-delay="500">
        Set as First
      </md-tooltip>
    </md-icon>
    <md-icon class="icon-btn " id="remove-item"
             ng-if="canEdit()"
             ng-click="removeSong(expandedItem())">
      delete_forever

      <md-tooltip md-delay="500">
        Remove this Item
      </md-tooltip>
    </md-icon>

  </div>

  <div media-inspector
       item="expandedItem()">

  </div>


</div>


<div ng-if="Spaces.current().songs.length === 0">

  <div class="xyz-item" style="left:45vw; top:10vh;">

    <div class="default dot" ng-click="openSidebar()">

    </div>


    <div class="hover" ng-click="openSidebar()">

      Click to find media

    </div>
  </div>

</div>

<div ng-if="isHovering()">
  <div class="item-hover"  ng-style="getHovering().css" style="position:absolute; background-color:white;">
  {{getHovering().item.title}}
  </div>
</div>

<debug name="'expanded item'" obj="expandedItem()" max-height="150"></debug>
<pre class="debug right-panel" ng-if="debug">space: {{space | json}}</pre>
<pre class="debug right-panel" ng-if="debug">space in map: {{Spaces.current() | json}}</pre>
<pre class="debug right-panel" ng-if="debug">Playlister.List: {{Playlister.getList() | json}}</pre>
<pre class="debug right-panel" ng-if="debug">space songs: {{space.songs | json}}</pre>
