
<div class="xyz-item" ng-repeat="song in Library.getLibrary()"
    ng-if="Library.getLibrary().length > 0"
    draggable>

  <div class="dot" ng-mouseover="hovering = true" ng-mouseleave="hovering = false">
    <img ng-src="{{song.attrs.pic? song.attrs.pic : 'images/flowers.png'}}">

  </div>
  <div class="hover" ng-if="hovering">
  {{song.attrs.artist}} - {{song.attrs.title}}
  {{song.attrs.url}}

  </div>
</div>

<div ng-if="Library.getLibrary().length === 0">

  <div class="xyz-item" style="left:45%; top:10%;">

    <div class="default dot">

    </div>


  <div class="hover">

    no items (click to add an item)

  </div>
  </div>

</div>