<div class="xyz-click-screen" ng-click="closeExpanded()">
</div>

<h2 class="space-title"> {{space.name}} ({{owner.name}})</h2>


<div class="xyz-item" ng-repeat="item in space.getLibrary()"
     ng-if="Library.getLibrary().length > 0"
     xyz-draggable
     ng-click="Library.isPlayable(item)? queueIfNotDragging(item): Player.show(item)">

  <div class="dot"
      >
    <img ng-src="{{item.attrs.pic? item.attrs.pic : 'images/flowers.png'}}">
  </div>

  <div class="beside-song" ng-if="false">
    <div class="hover" ng-if="showExpandedView(item)">
      {{item.attrs.artist}} - {{item.attrs.title}}
      {{item.attrs.url}}
    </div>

    <div ng-if="showExpandedView(item) && showControlsView(item)">
      <button ng-click="Player.play(item)">preview</button>
      <button ng-click="Library.remove(item.id)">remove</button>
    </div>
  </div>

</div>
</div>


<div ng-if="Library.getLibrary().length === 0">

  <div class="xyz-item" style="left:45%; top:10%;">

    <div class="default dot">

    </div>


    <div class="hover" ui-sref="import.search">

      no items (click to add an item)

    </div>
  </div>

</div>
