<div class="xyz-player" ng-show="spaceIsOpen()">

  <div ng-if="!Playlister.getNowPlaying().title">
    loading...
  </div>

  <pre class="debug" ng-if="false">
    id:{{spaceId}}
    space: {{space}}
    playlist: {{playlist}}
  </pre>

  <h4>{{message}}</h4>

  <div ng-show="Playlister.getNowPlaying()">

  <span class="media-controls">
      <md-icon class="icon-btn light" ng-click="play()">play_arrow</md-icon>
      <md-icon class="icon-btn light" ng-click="pause()">pause</md-icon>
      <md-icon class="icon-btn light" ng-click="next()">skip_next</md-icon>
  </span>

    <span class="media-title">
      <a ui-sref="base.space({id:spaceId})"> {{spaceName}} </a>
      <md-icon class="icon-btn light" ng-click="close()">close</md-icon>
    </span>

    <div class="media-box">

      <div ng-include="'xyz-player-component/mock-media-provider/mock-media-provider-view.html'"
           ng-controller="mockProviderCtrl"
           ng-if="Playlister.getNowPlaying().provider === 'mock'">

      </div>

      <div youtube
           ng-show="Playlister.getNowPlaying().provider === 'youtube'"
           videoid="{{youtubeId}}">

        YT player provider view (i should get replaced)

      </div>

      <div soundcloud ng-show="Playlister.getNowPlaying().provider === 'soundcloud'"
           soundid={{soundId}}>
        SC player provider view
      </div>

    </div>
  </div>

</div>