<div class="xyz-player" ng-if="spaceIsOpen()">

  <div ng-if="!getNowPlaying().title">
    loading...
  </div>

  <pre class="debug" ng-if="debug">
    <span ng-repeat="item in playlist">
      playlist: {{item.title}}
    </span>
  </pre>


  <pre class="debug" ng-if="false">
    id:{{spaceId}}
    space: {{space}}
    playlist: {{playlist}}
  </pre>


  <h4>{{message}}</h4>

  <div ng-show="getNowPlaying()">

    <h1>{{space.name}} </h1>

  <span class="media-controls">
      <md-icon class="icon-btn light" ng-click="play()">play_arrow</md-icon>
      <md-icon class="icon-btn light" ng-click="pause()">pause</md-icon>
      <md-icon class="icon-btn light" ng-click="next()">skip_next</md-icon>
  </span>

    <h3 class="player-title" ng-if="false && getNowPlaying().title">{{getNowPlaying().title}}</h3>

    <div class="media-box">

      <div ng-include="'xyz-player-component/mock-media-provider/mock-media-provider-view.html'"
           ng-controller="mockProviderCtrl"
           ng-if="getNowPlaying().provider === 'mock'">

      </div>


      <div youtube
           ng-show="getNowPlaying().provider === 'youtube'"
           videoid="{{youtubeId}}">

        YT player provider view (i should get replaced)

      </div>


      <div soundcloud ng-show="getNowPlaying().provider === 'soundcloud'"
           soundid={{soundId}}>
        SC player provider view
      </div>


    </div>
  </div>

</div>