.xyz-player{
  color:white;
  z-index:1;

  height:200px;
  width:100vw;
  background-color:black;
  text-align:center;
  position:fixed;
  bottom:3em;

  .media-box{
    height:180px;
    width:100%;
    display: inline-block;

    background-color:lightgoldenrodyellow;
  }

  .media-controls{
    position:fixed;
    bottom:0;
    height:3em;
    width:100%;
    text-align:center;
    button{
      background-color:white;
      color:black;
    }
  }

}

#xyz-soundcloud-iframe,#widget2{
  width:100%;
  height:150px;
}



@import "mock-media-provider/mock-media-provider";