<h3>selector</h3>
<button ng-click="Library.focusPrev()">right</button>
<button ng-click="Library.focusNext()" ng-if="!latestFocused()">left</button>
<div>

  <div class="song-row" ng-repeat="item in Library.getFocusedLocalItemGroup()">

    <a ng-href="{{item.url}}">
      <span ng-if="!item.error">
        ({{item.provider}}) {{item.artist}} - {{item.title}} ({{item.provider_id}})
      </span>
      <span ng-if="item.error">
        {{item.error}}
      </span>
    </a>
  </div>
</div>

<pre class="debug">
  {{Library.getLocalItems() | json}}
</pre>