
  .song-table {
    display:table;

    background-color:lightblue;
  }

  .header {
    background-color:darkcyan;
    color:white;
    font-weight: 700;
  }

  .song-row {
    display:table-row;

    padding:0.4em;

    &.editing{
      background-color:white;
    }
  }

  .song-attribute {
    display:table-cell;
    padding:0.7em;
    overflow:scroll;

    max-width:200px;

    &.few{
      max-width:50%;
    }
    input{
      width:100%;
    }
  }

  button {
    background-color:black;
    color:white;
    text-blink: 5cm;
  }



.list-outer{
  height:100vh;
  overflow:scroll;
}