.light {
  color: white;
}

.top-bar {

  .logo {
    cursor: pointer;
  }
  .icon {
    cursor: pointer;
  }

  .user-settings {
    color: white;
    background-color: black;

  }
}

.a{
  outline: none;
}