.light {
  color: white;
}

.top-bar {

  .logo {
    cursor: pointer;
  }

  .user-settings {
    color: white;
    background-color: black;

  }
}

.icon {
  cursor: pointer;
}

.a {
  outline: none;
}

.xyz-item {

  .dot {
    border-radius: 2em;
    border: 2px solid rgba(200, 200, 200, 0.6);
  }

  .unavailable.dot {
    opacity: 0.3;
  }
}