.light {
  color: white;
}

.top-bar {

  *, a, a:visited, a:hover {
    color: white;
  }
  .logo {
    cursor: pointer;
  }

  .user-settings {
    color: white;
    background-color: black;

  }
}

.icon {
  cursor: default;
}

.icon-btn {
  cursor: pointer;
}

.icon-btn:hover {
  color: $link-hover-color;
}

.a {
  outline: none;
}

.main-container {

  border-bottom: 1px darkgrey dotted;
}

.xyz-item {
  cursor: pointer;

  stroke-width: 5px;

  &.default {
    stroke: black;
    background-color: rgba(200, 200, 200, 0.6);
  }

  &.first-song {
    stroke: blue;
  }

  &.now-playing {
    stroke: yellow;

  }

  &.unavailable {
    opacity: 0.3;
  }
}

.user-settings-popup {
  background-color: black;
  button, input {
    color: black;
  }
  a {
    color: $light-link;
    &:hover {
      color: $light-link-hover
    }
  }
}

.active-icon {
  background-color: $sidebar-background-color;
  color: black;
}

.active-icon:hover {
  color: black;
}

.filters {
  font-size: 0.8em;
}

.media-inspector-actions {
  background-color: #EEE;

  button {
    background: none;
  }
}

.media-inspector-details {

  border-left: 1px dotted black;
  background-color: white;
  .error {
    color: red;
  }
}

.expanded-meta-actions {
  .icon-btn {
    background-color: white;
  }
}


.sidebar-container{

  background: $sidebar-background-color;
}