
.bar-icons {
  position: absolute;
  right: $top-padding;
  top: $top-padding;

  .icon-btn {
    margin-left: 0.2em;
    margin-right: 0.2em;
  }
}

.sidebar-container {
  position: fixed;
  top: $top-padding + $bar-height;
  right: $top-padding;
  max-width: $sidebar-width;
  z-index: 4;
  text-align: left;
  padding: 0.3em;

  @include MQ(M) {
    width: $sidebar-width;

  }

  .selector-container {
    height: 100vh;
    padding-bottom: 400px;
    overflow: scroll;
  }

  label {
    display: block;
    font-size: 0.8em;
  }

  #delete-space {
    float: right;
    color: red;
    font-size: 10px;
  }

  #add-contributor-label {
    margin-top: 0.25em;
  }
}



.expanded-popup {
  width: $sidebar-width;
  overflow: visible;
  /* position absolute, left, top is defined inline */

  .expanded-meta-actions {
    min-height: 1.8em;
  }

  .media-inspector {
    min-width: 1.8em;
  }

}
.media-inspector {

  max-height: 200px;
  margin-bottom: 0.5em;

}

.media-preview {
  height: 150px;
  width: 250px;
}

.media-inspector-details {
  padding: 0.5em;
  min-height: 150px;

  .service-logo {
    height: 1em;
    text-align: left;
    vertical-align: middle;
    display: inline-block;

    img {
      height: 100%;
    }
  }

  .artist-youtube {
    font-size: 0.6rem;
  }

  .artist-soundcloud {
    margin-bottom: 0.5em;
    line-height:0.5;
    font-size: 0.8rem;
  }

  .title {
    font-size: 0.9rem;

    min-width: 180px;
  }

  .provider-and-time {
    margin-top: 1.5em;
  }
}

.space-svg-view {
  border: 4px solid white;
  margin-left: $space-margin-left;
  margin-top: $space-margin-top;
  margin-bottom: 650px;
  margin-right: $sidebar-width;
}


.item-hover {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
}