
.media-inspector-details {

  .provider {
    font-size: 0.7rem;
  }

  .artist {
    font-size: 1.1rem;
  }
  .title {
    font-size: 0.9rem;
  }
}

.enable-sitewide-player {
  font-size: 0.75rem;
  ._md-icon {
    background-color: white;
  }
}

.item-hover {
  font-size: 0.70rem;
}
