
#bar-title {
  font-size: 1rem;
}

.media-inspector-details {

  .provider {
    font-size: 0.7rem;
  }

  .artist {
    font-size: 1.1rem;
  }
  .title {
    font-size: 0.9rem;
  }
}

.settings-toggle {
  font-size: 0.75rem;
  ._md-icon {
    background-color: white;
  }
}

.item-hover {
  font-size: 0.70rem;
}

.item-count, .space-owner-label {
  font-size: 0.65rem;
}

.item-length {
  font-size: 0.7rem;
}
//http://google.github.io/material-design-icons/#sizing
.material-icons.md-18 {
  font-size: 18px;
  line-height: 1.4;
  width: 18px;
  min-width: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

#sign-up-link {
  font-weight: bold;
}