<div ng-if="playlist[0].provider === 'youtube'" >

  <iframe
      width="560"
      height="315"
      ng-src="{{iFrameUrl(playlist[0],playerOptions)}}"
      frameborder="0"
      allowfullscreen>

  </iframe>
<!--

  <youtube width="100%"
           height="100%"
           videoid="{{playlist[0].provider_id}}"
           startSeconds="30"
          ng-if="false">

  </youtube>
-->

  <br/>
  Videoid:<input type="text" ng-model="playlist[0].provider_id">

  <br/>
<!--
  <p>Player status is: {{yt.playerStatus}}</p>-->
</div>



<div ng-if="playlist[0].provider === 'soundcloud'">

  <iframe
      width="100%"
      height="450"
      scrolling="no"
      frameborder="no"
      ng-src="{{iFrameUrl(playlist[0],playerOptions)}}">

  </iframe>

  id: [{{playlist[0].provider_id}}]
</div>


<div ng-if="playlist[0].provider === 'bandcamp'">
<iframe bandcamp-autoplay

    style="border: 0; width: 350px; height: 470px;"

    ng-src="{{iFrameUrl(playlist[0],playerOptions)}}"
    seamless>

  <a href="http://1080pcollection.bandcamp.com/album/12-hours-full-relaxation">
    &quot;12 Hours FULL RELAXATION&quot; by I Am Just A Pupil
  </a>

</iframe>
</div>

<hr/>
current song:<br/>
{{playlist[0].artist}} - {{playlist[0].title}}
<hr/><!--
next song:
<pre>
{{playlist[0] | json}}
</pre>-->
<br/>


id<br/>
<input ng-model="playlist[0].provider_id"/>
url<br/>
<input ng-model="playlist[0].url"/>
<br/>
provider<br/>
<input ng-model="playlist[0].provider"/>

<div class="sidebar">
  <div><button ng-click="Server.refresh()">refresh</button></div>
  <div ng-repeat="entry in playlist ">
    {{entry.artist}} - {{entry.title}} ({{entry.length}})
  </div>
</div>