
  <button ng-if="urlResult.kind === 'user'"
          ng-click="MediaAPI.SC.tracksByUser(urlResult.provider_id)
        .then(updateImportView)
        .catch(invalidLink)">
    view all tracks by {{urlResult.artist}}
  </button>
  <button ng-if="urlResult.kind === 'user'"
          ng-click="MediaAPI.SC.likesByUser(urlResult.provider_id)
        .then(updateImportView)
        .catch(invalidLink)">
    view all likes by {{urlResult.artist}}
  </button>
<div>

  <div ng-if="Library.getLocalItems().urlResult">
    {{ Library.getLocalItems().provider }} media detected:
    {{ Library.getLocalItems().artist+' - '+Library.getLocalItems().title }}
    <hr/>
    <button ng-click="Library.add(Library.getLocalItems())">add</button>
    <button ng-if="!item.error && Library.isPlayable(Library.getLocalItems())"
            ng-click="Player.play(Library.getLocalItems())">play
    </button>

  </div>

  <div ng-repeat="item in Library.getLocalItems()"
       ng-if="!Library.getLocalItems().urlResult"  ng-include="'views/sidebar/sidebar-search-result.html'"></div>
</div>

<pre class="debug" ng-if="false">
  {{Library.getLocalItems() | json}}
</pre>

