
<div class="sidebar-container">

  <form id="space-edit-form" name="spaceEditForm">

    <label for="space-name-input" flex="15" >Name</label>
    <input id="space-name-input"
           ng-model="spaceEdits.name"
           placeholder="(untitled)"
           name="name"
           >


    <md-checkbox id="public-checkbox"
           name="public" type="checkbox" ng-model="spaceEdits.public" aria-label="Public">
      Public
    </md-checkbox>


    <input type="submit" value="save" ng-click="saveEdits(spaceEdits)" ng-show="spaceEditForm.$dirty">

    <pre class="debug" ng-if="false">{{spaceEditForm || json}}</pre>
  </form>


  <label>Contributors</label>
  <label ng-if="!Spaces.current().contributors[0]">
    ( no contributors )
  </label>
  <div ng-repeat="contributor in Spaces.current().contributors">
    {{contributor.name}}
    <md-icon class="icon-btn"
             ng-click="removeFromContributors(contributor)">remove_circle
    </md-icon>
  </div>

  <label id="add-contributor-label" for="search-users">Add a contributor:</label>
  <input ng-model="userSearchQ" id="search-users"
         ng-change="searchUsers(userSearchQ)"
         ng-model-options="{debounce: 500, updateOn:'default'}"
         placeholder="search users">
  <div ng-repeat="user in getUserSearchResults()">
    {{user.name}}
    <md-icon class="icon-btn"
             ng-click="addToContributors(user)">add_circle
    </md-icon>
  </div>

  <br/>

  <button id="delete-space" ng-click="deleteViaConfirm()">delete space</button>

</div>