<h4>edit {{space.name}} details:</h4>

name:<input ng-model="space.name">
<span class="checkbox">
          public:<input type="checkbox" ng-model="space.public"/>
      </span>
<br/>
Search:
<input ng-model="userSearchQ"
       ng-change="searchUsers(userSearchQ)"
      ng-model-options="{debounce: 500, updateOn:'default'}">
<div ng-repeat="user in getUserSearchResults()">
  {{user.name}} <md-icon class="material-icons icon"
                         ng-click="addToContributors(user)">add_circle</md-icon>
</div>
Contributors:
<div ng-repeat="contributor in getContributors()">
  {{contributor | json}} <md-icon class="material-icons icon"
                         ng-click="removeFromContributors(contributor)">remove_circle</md-icon>
</div>

<span ng-if="space.startTime"> Space started playing at {{space.startTime | date:"mediumTime"}}</span>
<br/>
<button ng-click="Server.setStartTime(space)"> restart Playlist</button>
<button ng-click="Space.prototype$updateAttributes( {id:space.id},space)"> save</button>
<button ng-click="deleteViaConfirm(Space,space)">delete</button>

<div class="error" ng-if="error">{{error}}</div>
<pre ng-if="false" class="debug">
        {{space | json}}
      </pre>