<h4>edit {{space.name}} details:</h4>

name:<input ng-model="space.name">
<span class="checkbox">
          public:<input type="checkbox" ng-model="space.public"/>
      </span>
<br/>
<span ng-if="space.startTime"> Space started playing at {{space.startTime | date:"mediumTime"}}</span>
<br/>
<button ng-click="Server.setStartTime(space)"> restart Playlist</button>
<button ng-click="Space.prototype$updateAttributes( {id:space.id},space)"> save</button>
<button ng-click="deleteViaConfirm(Space,space)">delete</button>

<pre ng-if="false" class="debug">
        {{space | json}}
      </pre>