<div class="sidebar-open-button"
     ng-show="sidebarClosed"
     ng-click="sidebarClosed = false">
  <md-icon class="material-icons light">edit</md-icon>
</div>

<div ng-hide="sidebarClosed">

  <div class="sidebar-close-button" ng-click="sidebarClosed = true">
    <md-icon class="material-icons light">close</md-icon>
  </div>

  <div ng-if="viewer">

    <div ng-if="viewer === 'owner' || viewer === 'collaborator'">
      <div
          ng-include="'views/sidebar/import/import-container.html'"
          ng-controller="ImportCtrl">
      </div>


    </div>

    <div ng-if="viewer === 'viewer'">
<!--      (clone / copy songs to my space(s) tools go here)-->
    </div>

    <div ng-if="viewer === 'guest'">
      ( this is an XYZ space, made by
      <a ng-if="owner.website"
         ng-href="{{Utility.fixUrl(owner.website)}}"
         target=_blank>
        {{space.owner.name}}
      </a>
      {{!owner.website? space.owner.name : ''}}.)
    </div>
  </div>

  <br/>
  <hr/>


  <hr/>
</div>