<div class="sidebar-container">
  <div>
    <h4>Enter search terms or paste a URL</h4>
    <input
        ng-model="newText"
        ng-change="searchInputChanged(newText)"
        ng-model-options="{debounce: 750, updateOn:'default'}"
        placeholder=""
        focus
    >
    <button ng-click="searchInputChanged(newText)">Search</button>
    <div ng-if="fetchingSongData"><i>searching...</i></div>
    <div class="filters">
      <md-checkbox ng-repeat="(filterName, value) in filters" ng-model="filters[filterName]"
                   aria-label="{{filterName}}">
        {{filterName}}
      </md-checkbox>
    </div>
    <div ng-if="newText && error"> Sorry, {{error}} Please try adjusting the URL
    </div>
  </div>

  <debug name="'search results'" obj="Library.getSearchResults()" max-height="150">
</debug>

  <div ng-if="FB.isConnected()">
    <h4>load neat songs from your facebook feed. click the button again to load more</h4><br/>
    <button ng-click="explore(Social.FB.loadPosts())">more FB posts</button>
  </div>
  <br/>

  <div ng-if="urlResultIsType('user')">

    <button
        ng-click="MediaAPI.soundcloud.tracksByUser(urlResult.provider_id)
        .then(updateImportView)
        .catch(invalidLink)">
      view all tracks by {{urlResult.artist}}
    </button>
    <button
        ng-click="MediaAPI.soundcloud.likesByUser(urlResult.provider_id)
        .then(updateImportView)
        .catch(invalidLink)">
      view all likes by {{urlResult.artist}}
    </button>
  </div>

  <div class="selector-container"
       ng-if="thereAreSearchResults()">


    <div ng-repeat="item in Library.getSearchResults()"
         ng-if="!Library.getSearchResults().urlResult && filterAllows(item)"
         media-inspector item="item">

    </div>
  </div>

  <div class="selector-container"
       ng-if="Library.getSearchResults().urlResult"
       media-inspector
       item="Library.getSearchResults()">
    {{ Library.getSearchResults().provider }} media detected:
    {{ Library.getSearchResults().artist+' - '+Library.getSearchResults().title }}
    <hr/>
    <button ng-click="putInSpace(Library.getSearchResults())">
      add
    </button>
    <button ng-if="!item.error && Library.isPlayable(Library.getSearchResults())"
            ng-click="Player.play(Library.getSearchResults())">
      play
    </button>

  </div>



</div>
