<div class="open-button" ng-show="sidebarClosed" ng-click="sidebarClosed = false"> open </div>

<div ng-hide="sidebarClosed">

  <div class="close-button" ng-click="sidebarClosed = true"> [X] </div>
  <h1><a ui-sref="base">XYZ</a></h1>

  <h3 ng-if="false">
    Our goal is to make the curation, discovery, and enjoyment of networked music streams better.
  </h3>
  <h4 ng-if="space.id">
    <a ng-href="stream/index.html#?playlist={{space.id}}" target="_blank">
      --&gt stream link
    </a>
  </h4>

  <div ng-if="viewer">

    <div ng-if="viewer === 'owner'">
      <div
          ng-include="'views/sidebar/import/import-container.html'"
          ng-controller="ImportCtrl">
      </div>
      <h4>edit {{space.name}} details:</h4>
      name:<input ng-model="space.name">
        <span class="checkbox">
          public:<input type="checkbox" ng-model="space.public"></input>
      </span>
      <br/>
        <span ng-if="space.startTime"> Space started playing at {{space.startTime | date:"mediumTime"}}</span>
        <br/>
      <button ng-click="Server.setStartTime(space)"> restart Playlist </button>
      <button ng-click="Space.prototype$updateAttributes( {id:space.id},space, _.noop)"> save</button>
      <button ng-click="deleteViaConfirm(Space,space)">delete</button>

      <pre ng-if="false" class="debug">
        {{space | json}}
      </pre>

    </div>

    <div ng-if="viewer === 'viewer'">
<!--      (clone / copy songs to my space(s) tools go here)-->
    </div>
    <div ng-if="viewer === 'guest'">
      ( this is an XYZ space, made by
      <a ng-if="owner.website"
         ng-href="{{owner.website}}"
         target=_blank >
        {{space.owner.name}}
      </a>
      {{!owner.website? space.owner.name : ''}}.)
    </div>
  </div>

  <br/>
  <!--
  <a ui-sref="list"> my xyz list </a> |
  <a ui-sref="import.search"> import </a> |
  <a ui-sref="stream"> stream </a> |
  <a ui-sref="embeds"> embed test </a> |-->
  <hr/>

  <div ng-if="!FB.isConnected() && !FB.isConnecting() ">
    Facebook: not connected
    <a class="link-button" ng-click="FB.setConnecting().then(FB.login).then(FB.refreshFB)">(connect)</a>
  </div>
  <div ng-if="FB.isConnecting()">Facebook: connecting...</div>
  <div ng-if="FB.isConnected()">
    Facebook: &#10003;
  </div>


  <hr/>
</div>