<div class="open-button" ng-show="sidebarClosed"  ng-click="sidebarClosed = false"> open panel </div>

<div ng-hide="sidebarClosed">

  <div class="close-button" ng-click="sidebarClosed = true"> [X] </div>
  <h1><a ui-sref="base">XYZ</a></h1>

  <h3 ng-if="false">
    Our goal is to make the curation, discovery, and enjoyment of networked music streams better.
  </h3>
  <h3 ng-if="space.id"><a ng-href="stream?playlist={{space.id}}" target="_blank">--&gt stream link</a></h3>

  <div ng-if="viewer">

    <span>
    you are: {{viewer}} of this space
    </span>
    <div ng-if="viewer === 'owner'">
      <div
          ng-include="'views/sidebar/import/import-container.html'"
          ng-controller="ImportCtrl">
       </div>
       <h4>Space details:</h4>
        name:<input ng-model="space.name">
        public:<input type="checkbox" ng-model="space.public">
      <br/>
      <button ng-click="Space.prototype$updateAttributes( {id:space.id},space, _.noop)"> save</button>
      <pre ng-if="false" class="debug">
        {{space | json}}
      </pre>

    </div>

    <div ng-if="viewer === 'viewer'">
<!--      (clone / copy songs to my space(s) tools go here)-->
    </div>
    <div ng-if="viewer === 'guest'">
      ( this is an XYZ space, made by {{owner}}. )
    </div>
  </div>

  <br/>
  <!--
  <a ui-sref="list"> my xyz list </a> |
  <a ui-sref="import.search"> import </a> |
  <a ui-sref="stream"> stream </a> |
  <a ui-sref="embeds"> embed test </a> |-->
  <hr/>

  <div ng-if="!FB.isConnected() && !FB.isConnecting() ">
    Facebook: not connected
    <a class="link-button" ng-click="FB.setConnecting().then(FB.login).then(FB.refreshFB)">(connect)</a>
  </div>
  <div ng-if="FB.isConnecting()">Facebook: connecting...</div>
  <div ng-if="FB.isConnected()">
    Facebook: &#10003;
  </div>


  <hr/>
</div>