// Our variables
$base-header-font-family:  "futura-pt", sans-serif;
$base-font-family:  "helvetica neue", sans-serif;
$base-body-font-family:  "minion-pro", sans-serif, serif;

$base-font-size:   1em;
$base-line-height: 1;
$text-color: #333;

$link-hover-color: #F63357;

$preview-height:200px;
$sidebar-width:20em;

$XS:    320px;
$S:		500px;
$S-M:	600px;
$M:     768px;
$M-L:	975px;
$L:     1170px;
$XL:	1450px;
$XXL:	2000px;
