
  .search-result {
    background-color: #c2ccd1;
    max-height: 200px;

    margin-bottom: 0.5em;
  }

  .search-result-actions {
    background-color: #EEE;

    button {
      background: none;
    }
  }

  .search-result-details {
    background-color: white;
    padding: 0.5em;
    border-left: 1px dotted black;

    .provider {
      font-size: 0.7rem;
    }

    .error {
      color: red;
    }

    .artist {
      font-size: 1.1rem;
      margin-bottom: 0.5em;
    }
    .title {
      font-size: 0.9rem;
    }
  }

