.sidebar-container {
  background: rgba(200,180,220,0.8);
  position: absolute;
  top: 100vw;//calc(100vh + #{$preview-height});
  width:100vw;

  @include MQ(M) {
    top: 0;
    right: 0;
    width: 30%;
    min-width:$sidebar-max-width;
    max-width: $sidebar-max-width;
text-align:center;

    input {
      width:80%;
    }

  }



  .active{
    background-color:cadetblue;
  }

}


