.sidebar-container {
  background-color: lightpink;
  position: absolute;
  top: 100vw;//calc(100vh + #{$preview-height});
  width:100vw;

  @include MQ(M) {
    top: 0;
    right: 0;
    width: $sidebar-width;
  }



  .active{
    background-color:cadetblue;
  }

}


